<div id="<%= dom_id article %>">
  <p>
  <h3 class="text-center"><%= article.title %></h3>
  </p>

  <p>
    <%= article.body %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= article.published %>
  </p>

</div>
